@import "../../styles/base.scss";

.password-form {
  margin: 20px;

  .password-section {
    display: flex;
    flex-direction: row;
  }
  .form-field {
    display: flex;
    flex-direction: column;

    label {
      color: $secondary-color;
      font-weight: bold;
    }

    .form-error {
      color: red;
      font-size: x-small;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 700px) {
  .password-form {
    .password-section {
      display: flex;
      flex-direction: column;
    }

    .form-field {
        margin-top: 15px;
    }
  }
}
