@import "../../styles/base.scss";

.password-form {
  margin: 20px;

  .password-section {
    display: flex;
    flex-direction: row;
  }
  .form-field {
    display: flex;
    flex-direction: column;

    label {
      color: $secondary-color;
      font-weight: bold;
    }

    input {
      margin-top: 5px;
    }

    .form-error {
      color: red;
      font-size: x-small;
      font-weight: bold;
    }
  }
}
