@import "../../styles/base.scss";

#progress {
  position: relative;
  margin: 10px 35% 10px 35%;
}

.progress-bar {
  position: absolute;
  background: $primary-color;
  height: 5px;
  top: auto;
  left: 2px;
  z-index: 1;
}

#progress-num {
  position: relative;
  margin: 0;
  padding: 20px 0 0 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#progress-num::before {
  content: "";
  background-color: gray;
  position: absolute;
  top: auto;
  left: 2px;
  height: 5px;
  width: 98%;
}

#progress-num .step {
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: gray;
  border-radius: 100%;
  font-family: sans-serif;
  font-size: 1.2rem;
  color: $white;
  z-index: 1;
}
#progress-num .step.active {
  transform: scale(1.2);
  background-color: $secondary-color;
  color: $white;
}
#progress-num .step.done {
  background-color: $primary-color;
  color: $white;
}
