.pass-input_wrapper {
  position: relative;
  display: flex;
  border-radius: 3px;
  border: 1px solid lightgray;
  width: 230px;

  input {
    border: none;
    font-size: 1rem;
  }

  :last-child {
    position: absolute;
    top: 10%;
    right: 3%;
  }

  :last-child:hover {
    cursor: pointer;
  }
}
